/* BRAND COLOURS */
:root {
	--brand-yellow: #ffcc01;
	--brand-yellow-dark: #ab9905;

	--brand-blue: #0075ff;
	--brand-blue-light: #00d3ff;
	--brand-blue-dark: #0070b6;
	--brand-blue-darkest: #365fac;

	--brand-dark: #152a60;
	--brand-grey: #c8c8c8;
}
